* {
		margin: 0px;
		padding: 0px;
	}
:root {
	--main-color: rgba(0,46,98,1);
	--sec-color: #fff;
	--th-color: rgba(0,34,55,0.2);
	--foot-color: rgba(10,17,27,1);
}
header {
	border-top: 4px solid var(--main-color);
	background-color: #fff;
}
.logo_img {
		border-radius: 50%;
		height: 8vw;
		width: 8vw;
		padding: 5px;
	}
.logo_div {
	width: 8vw;
	height: 8vw;
}
.iitklogo_div {
	float: right;	
}
.title_div {
	float: right;
	width: calc(100% - 10vw - 10px);
}
.in_block {
	display: inline-block;
}
.button_div {
	float: right;
}
.title_text {
	font: 2vw 'Merriweather', serif;
	color: rgba(0,46,98,1);
	margin: 20px 0 0 35px;
	border-bottom: 1px solid rgba(192,192,192,1);
	display: inline-block;
	padding-bottom: 5px;
	font-weight: 700;
}
.subtitle_text {
	font: 1.4vw 'Merriweather',serif;
	text-align: center;
	color: rgba(0,46,98,0.8);
	font-weight: 700;
} 
.contact_div {
	float: right;
}
.header_contact_div {
	display: inline-block;
	margin: 25px 10px 0 0; 
}
.contactinfo_div {
	font: 1vw 'Merriweather',serif;
	color: rgba(0,46,98,1);
	font-weight: 600;
	padding: 0 0 2.5px 0;
}
.contacticon_img {
	height: 1.2vw;
}
.navbar_nav {
	background-color: var(--main-color);
}
.nav_li {
	margin-left: 10px;
}
.social_img {
	height: 30px;
	width: 30px;
}
.social_div {
	margin-right: 15px;
}
.section_div {
	margin: 0 !important;
}
.alt_div {
	background-color: var(--th-color);
}
.white_div {
	background-color: var(--sec-color);
}
.section_div, .alt_div, .white_div {
	text-align: center;
}
.carousel_div {
	max-width: 100%;
	height: 50vw;
	padding: 0;
}
.car_img {
	max-height: 50vw; 
}
.about_div {
	margin: 10px auto 0 auto;
	color: #fff;
	width: 80%;
	border: 30px solid #C17D11;
	border-radius: 10px;
	background: rgba(1,59,9,1);
	background: -moz-linear-gradient(-45deg, rgba(1,59,9,1) 0%, rgba(1,59,9,1) 60%, rgba(10,145,60,1) 97%, rgba(195,219,212,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(1,59,9,1)), color-stop(60%, rgba(1,59,9,1)), color-stop(97%, rgba(10,145,60,1)), color-stop(100%, rgba(195,219,212,1)));
	background: -webkit-linear-gradient(-45deg, rgba(1,59,9,1) 0%, rgba(1,59,9,1) 60%, rgba(10,145,60,1) 97%, rgba(195,219,212,1) 100%);
	background: linear-gradient(135deg, rgba(1,59,9,1) 0%, rgba(1,59,9,1) 60%, rgba(10,145,60,1) 97%, rgba(195,219,212,1) 100%);
}
.about_inner_div {
	border: 3px solid #622F24;
	padding: 20px;
	font-size: 1em;
	font-family: 'Capriola', sans-serif;
	text-align: left;
}
.board_bottom_div {
	border-top: 3px solid white;
	border-bottom: 10px solid #C17D11;
	width: 80%;
	margin: auto;
}
.abt_text {
	text-align: justify;
	font-family: 'Merriweather',serif;
}
.admin_div {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.card_div {
	display: inline-block;
	margin: 20px 20px 20px 0;
}
.card {
	box-shadow: 2px 5px 10px rgba(192,192,192,0.5);
}
.foot_div_2 {
	margin: 30px auto;
	border-top: 1px solid rgba(192,192,192,0.5);
	width: 80%;
	padding-top: 1vw;
}
.video_div {
	display: inline-block;
	margin: 15px;
}
.backtotop_div {
	background-color: rgba(35,47,62,1);
	text-align: center;
	margin: 0;
	height: 3vw;
	padding: 0.5vw 0 0 0;
	font: 1vw;
	text-decoration: none;
}
.backtotop_a {
	text-decoration: none;
	color: #fff;

}
.backtotop_div a:hover {
	text-decoration: none!important;
	color: #fff!important;
}
.footer_div {
	background-color: var(--foot-color);
	position: relative;
	display: grid;
	grid-template-columns: 40% 60%;
}
.foot_social_link {
	display: inline-block;
}
.social_foot_div {
	margin-top: 20px;
}
.social_img_footer {
	height: 50px;
	width: 50px;
}

.footer_social_div {
	grid-column: 1/3;
}
.footer_contact_div {
	color: #fff;
	text-align: left;
	margin-left: 10vw;
}
.footer_links_div {
	display: grid;
	grid-template-columns: 50% 50%;
	font-family: 'Merriweather',serif;
	padding-top: 3.5vw;
}
.white_links {
	color: #fff;	
}
.donate_div {
	width: 100%;
	height: 40vw;
	font-family: 'Merriweather',serif; 
}
.donate_img {
	width: 100%;
	height: 40vw;
}
table {
	border-collapse: collapse;
    width: 50%;
}
table tr,td {
	 border: 1px solid #ddd;
    padding: 8px;
}